<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <!--    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
  <!-- sbb CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/create_board.css}">
  <title>방게!</title>
</head>
<th:block layout:fragment="content"></th:block>
<body>
<!-- 최상단을 표시하기위한 div -->
<div id="scrolltop"></div>
<div class="form">
  <!--  머리부분 로그인 회원가입 등 시작-->
  <div class=board_head>
    <div class=board_tap>
      <a class="logo" th:href="@{/UserBoard/main}">
        <div>
          <p>방게</p>
          <p>방구석인테리어 게시판 </p>
        </div>
      </a>
      <a class="logo_base " th:href="@{/UserBoard/main}">
        <div>
          <p>유저게시판</p>
        </div>
      </a>
      <a class="logo_base select" th:href="@{/BusinessBoard/home}">
        <div>
          <p>사업자 게시판</p>
        </div>
      </a>
      <a class="logo_base" th:href="@{/Store/}">
        <div>
          <p>스토어</p>
        </div>
      </a>
    </div>
    <div class="board_login" sec:authorize="isAnonymous()">
      <a  class="login"   th:href="@{/user/login}">
        <div>
          <p >로그인</p>
        </div>
      </a>
      /
      <a th:href="@{/user/Initiation_General}" class="signup">
        <div>
          <p>회원가입</p>
        </div>
      </a>
    </div>
    <div class="board_login" sec:authorize="isAuthenticated()">
      <!--        sec:authorize="isAuthenticated()" 로그인 성공시 나오게 하는 코드       -->
      <a  class="login" th:href="@{/user/logout}">
        <div>
          <p >로그아웃</p>
        </div>
      </a>
    </div>
  </div>
  <!--  머리부분 로그인 회원가입 등 끝-->
  <hr>
  <!--  상단 nav바 시작-->
  <nav class="top_nav">
    <a  th:href="@{/BusinessBoard/home}">
      <div>
        <p>홈</p>
      </div>
    </a>
    <a th:href="@{/BusinessBoard/part}">
      <div>
        <p>부분공사</p>
      </div>
    </a>
    <a th:href="@{/BusinessBoard/integral}" >
      <div>
        <p>전체공사</p>
      </div>
    </a>
    <a th:href="@{/BusinessBoard/event}">
      <div>
        <p>이벤트</p>
      </div>
    </a>
    <a th:href="@{/BusinessBoard/home}" class="select">
      <div>
        <p>업체퀵링크
        </p>
        <!--                <ul class = "qik">-->
        <!--                    <li class="qik_in"><a th:href="@{/BusinessBoard/home}"> 업체1 </a></li>-->
        <!--                    <li class="qik_in"><a th:href="@{/BusinessBoard/home}"> 업체2 </a></li>-->
        <!--                    <li class="qik_in"><a th:href="@{/BusinessBoard/home}"> 업체3 </a></li>-->
        <!--                </ul>-->
      </div>
    </a>
  </nav>
  <!--  상단 nav바 끝 -->
  <!--  작업시작-->
  <!--사업자 게시판 리스트 구현 시작-->
  <div class="free_notice_board">
    <ul>
      <li>프로필 수정</li>
    </ul>
  </div>
  <br>
  <hr style="border: solid 1px black;">
  <br>

  <form th:object = "${boardCreateForm}"method="post">
    <input type="hidden" th:name="${parameterName}" th:value="${token}" />
    <!-- 여기서부터 제목 -->
    <div >
      <input type="text"
             th:field="*{title}"
             class ="input_title"
             placeholder="제목을 입력하세요"/>
    </div>
    <br>
    <hr style="border: solid 1px rgb(180, 180, 180);">
    <br>
    <!-- 여기서부터 바디시작 -->
    <div >
      <input type="text"
             th:field="*{content}"
             class ="input_content"
             placeholder="나중에 api로 대체될예정"/>
    </div>
    <br>
    <hr style="border: solid 1px black;">

    <!--게시물  저장버튼 구현 시작-->
    <div class="button_search frame">
      <input type="submit" value="저장" class="custom-btn btn-3">
    </div>
    <!--게시물  버튼 및 찾기 구현 끝-->
    <!--  작업끝 -->
  </form>





  <!-- 가장아래를 표시하기위한 div  -->
  <div id="scrollbottom"></div>
</div>
<!--우측 네비게이션용 시작-->
<div class="popup_body">
  <nav class="popup_nav">

    <a href="#scrolltop" rel="nofollow">
      <button class="nav_button nav_top">
        TOP
      </button>
    </a>

    <button class="nav_button" id="global_chat_open" ype="buttont">
      전체 채팅
    </button>

    <button class="nav_button">유저<p>게시판 </button>
    <button class="nav_button">사업자<p>게시판 </button>
    <button class="nav_button">스토어 </button>
    <button class="nav_button">개인 채팅 </button>
    <a href="#scrollbottom" rel="nofollow">
      <button class="nav_button nav_down">
        DOWN
      </button>
    </a>

  </nav>
</div>
<!--우측 네비게이션용 끝  -->
<script layout:fragment="script" type='text/javascript'>

// 채팅창 움직이기용 시작
const draggableElementChat = document.querySelector('.draggable_chat');
let isDraggingChat = false;
let offsetXChat = 0;
let offsetYChat = 0;

draggableElementChat.addEventListener('mousedown', function(event) {
  isDraggingChat = true;
  offsetXChat = event.clientX - draggableElementChat.getBoundingClientRect().left;
  offsetYChat = event.clientY - draggableElementChat.getBoundingClientRect().top;
});

document.addEventListener('mousemove', function(event) {
  if (isDraggingChat) {
    const x = event.clientX - offsetXChat;
    const y = event.clientY - offsetYChat;
    draggableElementChat.style.left = x + 'px';
    draggableElementChat.style.top = y + 'px';
  }
});

document.addEventListener('mouseup', function() {
  isDraggingChat = false;
});
// 채팅창 움직이기 끝


// 채팅창 종료혹은 숨김처리 시작
const chatCloseButton = document.getElementById("chat_close");
chatCloseButton.addEventListener('click',()=>{
  draggableElementChat.style.display= "none"
})
// 채팅창 종료혹은 숨김처리 끝


//챗팅창 켜기 시작
const globalChatOpen = document.getElementById("global_chat_open");
globalChatOpen.addEventListener('click',()=>{
  draggableElementChat.style.display = "block"
})
// 채팅창켜기 끝


</script>
</body>
</html>